<!--  Forgot Password Section -->
<section
  class="bg-light-gray border-top border-primary border-4 d-flex align-items-center justify-content-center min-vh-100">
  <div class="container py-3">
    <div class="sign-in card mx-auto shadow-lg">
      <div class="card-body py-8 px-lg-5">
        <a [routerLink]="['/']" class="mb-8 hstack justify-content-center">
          <h2 class="img-fluid" style="color: black;">Ap Post</h2>
        </a>

        <h4 class="text-center fw-bold mb-4">Quên mật khẩu?</h4>
        <p class="text-center text-muted mb-5">
          Nhập email và bạn sẽ nhận được mã xác nhận.
        </p>

        <form class="d-flex flex-column gap-3" (ngSubmit)="sendResetLink()">
          <div>
            <input
              type="email"
              class="form-control border-bottom"
              id="forgotEmail"
              [(ngModel)]="email"
              name="email"
              placeholder="Emai"
              required />
          </div>

          <button
            type="submit"
            class="btn btn-dark w-100 justify-content-center py-2 fw-medium my-7 fs-4 lh-lg">
            Gửi mã
          </button>
        </form>

        <!-- Thông báo -->
        @if (successMessage) {
          <p class="text-success text-center mt-3">{{ successMessage }}</p>
        }
        @if (errorMessage) {
          <p class="text-danger text-center mt-3">{{ errorMessage }}</p>
        }

        <p class="text-center mt-4 mb-1 fw-medium">
          Bạn đã nhớ mật khẩu?
          <a class="text-dark" [routerLink]="['/login']">Đăng nhập</a>
        </p>
        <p class="text-center mb-0 fw-medium">
          Bạn chưa có tài khoản?
          <a class="text-dark" [routerLink]="['/register']">Đăng ký</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="get-template hstack gap-2">
  <button
    class="btn bg-primary p-2 round-52 rounded-circle hstack justify-content-center flex-shrink-0"
    id="scrollToTopBtn">
    <iconify-icon icon="lucide:arrow-up" class="fs-7 text-dark"></iconify-icon>
  </button>
</div>
